@model WebApplication1.Data.Trust



<body>
    <div class="card">
        <div class="card-block">
            <h3 class="card-title">@Model.Name</h3>
            <h5 class="card-subtitle mb-2 text-muted">@Model.Location</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="card-link">Card link</a>
            <a href="#" class="card-link">Another link</a>
            @if (Model.Events != null)
            {
                foreach (var _event in Model.Events)
                {
                    <h5 class="card-subtitle mb-2 text-muted">@_event.Title</h5>
                }
            }
        </div>
    </div>
</body>
</html>