<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://ckwebk.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>ckwebk.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>ckwebk</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$ckwebk</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:ckwebkdb.database.windows.net,1433;Initial Catalog=ckwebkDB;User ID=ckind90@ckwebkdb.database.windows.net;Password=Ad@min1234" Name="Data Source=tcp:ckwebkdb.database.windows.net,1433;Initial Catalog=ckwebkDB;User Id=ckind90@ckwebkdb.database.windows.net;Password=Ad@min1234" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Kamban.API.Trust.TrustContext, Kamban.API" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="AzureDBConnection" Order="2" Enabled="False">
          <Destination Path="Data Source=tcp:ckwebkdb.database.windows.net,1433;Initial Catalog=ckwebkDB;User ID=ckind90@ckwebkdb.database.windows.net;Password=Ad@min1234" Name="Data Source=tcp:ckwebkdb.database.windows.net,1433;Initial Catalog=ckwebkDB;User Id=ckind90@ckwebkdb.database.windows.net;Password=Ad@min1234" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=tcp:ckwebkdb.database.windows.net,1433;Initial Catalog=ckwebkDB;Persist Security Info=False;User ID=ckind90;Password=Ad@min1234;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\AzureDBConnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Server=tcp:ckwebkdb.database.windows.net,1433;Initial Catalog=ckwebkDB;Persist Security Info=False;User ID=ckind90;Password=Ad@min1234;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)AzureDBConnection-Web.config Connection String">
      <ParameterValue>data source=tcp:ckwebkdb.database.windows.net,1433;initial catalog=ckwebkDB;user id=ckind90@ckwebkdb.database.windows.net;password=Ad@min1234;MultipleActiveResultSets=False</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:ckwebkdb.database.windows.net,1433;Initial Catalog=ckwebkDB;User Id=ckind90@ckwebkdb.database.windows.net;Password=Ad@min1234</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>